body{
  background-color: #cff1ef;

}
h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2.5rem;
  color:#66BFBF;
}
#photo-carousel-sec{
  padding: 7% 15% 30% 15%;
  text-align: center;

}
#Footer-gallery{

  position: relative;
}
.bottombar{
  position: absolute;
  bottom:0;
}
.carousel{
  padding: auto 100px;
  width:300px;
  height: auto;


}

img{
  width:300px;
}
